! Font settings
URxvt.font: xft:Anonymice Powerline:pixelsize=16
!URxvt.letterSpace: -1

! Cursor
Xcursor.theme: cursor-theme
Xcursor.size: 16

! Scrollbar
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollColor: #093748

! Transparency
!URxvt.transparent: true
!URxvt.shading: 30

! Clickable links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Rofi settings
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281

! Colours
URxvt.depth: 32

*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

*.color0:       #0a0f14
*.color8:       #10151b

*.color1:       #c33027
*.color9:       #d26939

*.color2:       #26a98b
*.color10:      #1c6b9c

*.color3:       #edb54b
*.color11:      #245361

*.color4:       #195465
*.color12:      #093748

*.color5:       #4e5165
*.color13:      #888ba5

*.color6:       #33859d
*.color14:      #599caa

*.color7:       #98d1ce
*.color15:      #d3ebe9
